<div class="seccion" id="simple">

    <nav class="barra-navegacion text-sombra">

        <a routerLink="/pageMain">

            <div class="divLogo">
                <img src="LogoNotEnglish.png" alt="Logo" class="logo_LearnEnglish">
            </div>

        </a>

        <h1 class="seccion-titulo">Future Simple</h1>
    </nav>
    
    <div class="seccion-explication text-sombra">
        <h2 class="seccion-sub-titulo">Explication</h2>
        <p class="explication">
            El futuro simple es un tiempo verbal que utilizamos 
            para hablar de acciones que ocurrirán en el futuro, 
            sin especificar un momento exacto. Es como decir 
            "en algún momento en el futuro".
        </p>
    </div>

    <div class="seccion-explication text-sombra">
        <h2 class="seccion-sub-titulo">Estructuras</h2>
        <p class="sub-titulo-segundo">
            Estructura de oraciones afirmativas:
        </p>
        <b class="text-add-estructur">Pronombre + will + verbo pasado + Complemento</b>

        <p class="sub-titulo-segundo">
            Estructura de oraciones Negativas:
        </p>
        <b class="text-add-estructur">Prononbre + will + not+ verbo Infinitivo + Complemento</b>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Examples Affirmatives</p>

        <table></table>

        <th class="text-add-ejemplo">She will play soccer tomorrow</th>
        <th class="text-add-ejemplo">He will run in the park tomorrow</th>
        <th class="text-add-ejemplo">Pablo will study at the University next year</th>
        <th class="text-add-ejemplo">Maria will fly to Paris by plane next year</th>
        <th class="text-add-ejemplo">Pedro and Juan will travel by car this summer</th>
        <th class="text-add-ejemplo">The dog will sleep in the house tomorrow</th>
        <th class="text-add-ejemplo">The machine will work all night</th>
        <th class="text-add-ejemplo">She will work at Active English next weekend</th>
        <th class="text-add-ejemplo">I will play soccer at the school next week</th>
        <th class="text-add-ejemplo">They will eat sushi for dinner</th>
        <th class="text-add-ejemplo">He will drink tea in the morning</th>
        <th class="text-add-ejemplo">They will work on a new project</th>
        <th class="text-add-ejemplo">She will read a novel this weekend</th>
        <th class="text-add-ejemplo">The sun will set at 7 PM</th>
        <th class="text-add-ejemplo">We will go to the beach next week</th>
        <th class="text-add-ejemplo">I will like trying new foods</th>
        <th class="text-add-ejemplo">She will write a poem</th>
        <th class="text-add-ejemplo">They will play volleyball at the beach</th>
        <th class="text-add-ejemplo">The train will leave at 10 AM</th>
        <th class="text-add-ejemplo">I will study French next year</th>
        <th class="text-add-ejemplo">She will teach science class</th>
        <th class="text-add-ejemplo">They will listen to a podcast</th>
        <th class="text-add-ejemplo">He will help his sister with her homework</th>
        <th class="text-add-ejemplo">The dog will bark at the mailman</th>
        <th class="text-add-ejemplo">We will need a bigger house</th>
        <th class="text-add-ejemplo">The store will open early tomorrow</th>
        <th class="text-add-ejemplo">I will visit my cousins next month</th>
        <th class="text-add-ejemplo">They will talk about their plans for the future</th>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Examples Negative</p>

        <th class="text-add-ejemplo">She won't play soccer tomorrow</th>
        <th class="text-add-ejemplo">He won't run in the park tomorrow</th>
        <th class="text-add-ejemplo">Pablo won't study at the university next semester</th>
        <th class="text-add-ejemplo">Maria won't fly to Paris next year</th>
        <th class="text-add-ejemplo">Pedro and Juan won't travel by car this summer</th>
        <th class="text-add-ejemplo">The dog won't sleep in its bed tonight</th>
        <th class="text-add-ejemplo">The machine won't work all night</th>
        <th class="text-add-ejemplo">She won't work from home tomorrow</th>
        <th class="text-add-ejemplo">I won't play tennis with my friend</th>
        <th class="text-add-ejemplo">They won't eat sushi for dinner</th>
        <th class="text-add-ejemplo">He won't drink tea in the morning</th>
        <th class="text-add-ejemplo">They won't work on a new project</th>
        <th class="text-add-ejemplo">She won't read a novel this weekend</th>
        <th class="text-add-ejemplo">The sun won't set at 7 PM</th>
        <th class="text-add-ejemplo">We won't go to the beach next week</th>
        <th class="text-add-ejemplo">I won't like trying new foods</th>
        <th class="text-add-ejemplo">She won't write a poem</th>
        <th class="text-add-ejemplo">They won't play volleyball at the beach</th>
        <th class="text-add-ejemplo">The train won't leave at 10 AM</th>
        <th class="text-add-ejemplo">I won't study French next year</th>
        <th class="text-add-ejemplo">She won't teach science class</th>
        <th class="text-add-ejemplo">They won't listen to a podcast</th>
        <th class="text-add-ejemplo">He won't help his sister with her homework</th>
        <th class="text-add-ejemplo">The dog won't bark at the mailman</th>
        <th class="text-add-ejemplo">We won't need a bigger house</th>
        <th class="text-add-ejemplo">The store won't open early tomorrow</th>
        <th class="text-add-ejemplo">I won't visit my cousins next month</th>
        <th class="text-add-ejemplo">They won't talk about their plans for the future</th>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Questions, affirmative and negative</p>
    
        <div class="ejemplo-completo">
            <b class="text-add-ejemplo">Will you go shopping this weekend?</b>
            <b class="text-add-ejemplo">Yes, I will.</b>
            <b class="text-add-ejemplo">No, I won't.</b>
            <b class="text-add-ejemplo">Yes, I will go shopping this weekend. I need to buy some new clothes.</b>
            <b class="text-add-ejemplo">No, I won't go shopping this weekend. I'm too busy.</b>
          </div>

          <div class="ejemplo-completo">
            <b class="text-add-ejemplo">Will you study tonight?</b>
            <b class="text-add-ejemplo">Yes, I will.</b>
            <b class="text-add-ejemplo">No, I won't.</b>
            <b class="text-add-ejemplo">Yes, I will study tonight. I have a test tomorrow.</b>
            <b class="text-add-ejemplo">No, I won't study tonight. I'm too tired.</b>
          </div>
          
          <div class="ejemplo-completo">
            <b class="text-add-ejemplo">Will you cook dinner tomorrow?</b>
            <b class="text-add-ejemplo">Yes, I will.</b>
            <b class="text-add-ejemplo">No, I won't.</b>
            <b class="text-add-ejemplo">Yes, I will cook dinner tomorrow. I'm in the mood for a homemade meal.</b>
            <b class="text-add-ejemplo">No, I won't cook dinner tomorrow. I'll order takeout.</b>
          </div>
          
          <div class="ejemplo-completo">
            <b class="text-add-ejemplo">Will you travel next year?</b>
            <b class="text-add-ejemplo">Yes, I will.</b>
            <b class="text-add-ejemplo">No, I won't.</b>
            <b class="text-add-ejemplo">Yes, I will travel next year. I'm planning a trip to Europe.</b>
            <b class="text-add-ejemplo">No, I won't travel next year. I need to save money.</b>
          </div>

    </div>

    <div class="ejemplos-audio">

        <p class="seccion-sub-titulo">Audio Examples</p>

        <p class="seccion-sub-titulo2">Positive</p>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">I will finish my homework tonight</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1K55aN8reNAJwweBTnijk9ebzoY7h8EaG/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">She will call you tomorrow</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1hJaCDGhxZUQLjEBp58_GdsSg1qW8kWfS/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">We will go to the park on Sunday</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1YuymdDD9Za_sGhIdOfJKBcT79aXi6GDt/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">They will buy a new car next year</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1U7Nxwy0-tydCQbvQIZxdlI7keM5xxwcS/preview" class="audio"></iframe> 
            </div>
        </div>

        <p class="seccion-sub-titulo2">Negative</p>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">I will not eat meat</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1824fx8PrQFA1l0ioYYIPfZoGVJl2Ynmm/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">He will not be late</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1xn8E4u7KIdAl4rCunpV0Vo-kqfw97lmg/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">We will not go to the party</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1v6DZBTQP9sxpvrfEdQX7VEy0GFvlWwK2/preview" class="audio"></iframe> 
            </div>
        </div>

        <div class="ejemplo-completo-audio">
            <b class="text-add-ejemplo">They will not travel this summer</b>
            <div class="div-audio">
                <iframe src="https://drive.google.com/file/d/1LNIKt2X866jOBb5i58WUOLHhOl8LEgGL/preview" class="audio"></iframe> 
            </div>
        </div>

    </div>

</div>