<div class="seccion" id="simple">

    <h1 class="seccion-titulo text-sombra">Present Simple</h1>

    <div class="seccion-explication">
        <h2 class="seccion-sub-titulo text-sombra">Explication</h2>
        <p class="explication">
            El presente simple es un tiempo en ingles usado 
            principalmente para representar el presente de 
            forma simplificado.
        </p>
        <!-- <b class="text-add"><span class="resaltar">Do</span> = I, you, they, we.</b>
        <b class="text-add"><span class="resaltar">does</span> = he, she, it.</b> -->
    </div>

    <div class="seccion-explication">
        <h2 class="seccion-sub-titulo text-sombra">Estructuras</h2>
        <p class="explication">
            Estructura de oraciones afirmativas:
        </p>
        <b class="text-add-estructur">Prononbre + verbo Infinitivo + Complemento</b>

        <p class="explication">
            Estructura de oraciones Negativas:
        </p>
        <b class="text-add-estructur">Prononbre + aux + not+ verbo Infinitivo + Complemento</b>

        <h2 class="seccion-sub-titulo text-sombra">Reglas de ES, IES y S</h2>
        
        <p class="explication">
            When the verb ends in: <span class="resaltar">he, she, it</span>
        </p>

        <p class="sub-titulo-segundo">Sh, ch, z, o, x, s. -> ES</p>

        <b class="text-add">She washes</b>
        <b class="text-add">He goes</b>
        <b class="text-add">She fixes</b>

        <p class="sub-titulo-segundo">Consonant + y IES</p>

        <b class="text-add">Study -> Studies</b>
        <b class="text-add">Carry -> Carries</b>

        <p class="sub-titulo-segundo">The rest of the verb S</p>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Examples Affirmatives</p>

        <b class="text-add">She plays soccer</b>
        <b class="text-add">He runs in the street</b>
        <b class="text-add">Pablo studies in the University</b>
        <b class="text-add">Maria flies by air</b>
        <b class="text-add">Pedron And Juan travel by train</b>
        <b class="text-add">The dog sleeps in the house</b>
        <b class="text-add">The Machine works in the building</b>
        <b class="text-add">she works at Active English</b>
        <b class="text-add">I play soccer</b>
        <b class="text-add">They eat pizza</b>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Examples Negative</p>

        <b class="text-add">She doesn't play soccer</b>
        <b class="text-add">He doesn't run in the street</b>
        <b class="text-add">Pablo doesn't studie in the University</b>
        <b class="text-add">Maria doesn't fly by air</b>
        <b class="text-add">Pedron And Juan don't travel by train</b>
        <b class="text-add">The dog doesn't sleep in the house</b>
        <b class="text-add">The Machine doesn't work in the building</b>
        <b class="text-add">she doesn't work at Active English</b>
        <b class="text-add">I don't play soccer</b>
        <b class="text-add">They don't eat pizza</b>

    </div>

    <div class="ejemplos">
        
        <p class="seccion-sub-titulo">Questions, affirmative and negative</p>

        <div class="ejemplo-completo">
            <b class="text-add">¿Trabaja ella en Active English?</b>
            <b class="text-add">Does she work at Active English? </b>
            <b class="text-add">Yes, she does</b>
            <b class="text-add">Yes, she works at Avtive English</b>
            <b class="text-add">No, she doesn't</b>
            <b class="text-add">No, she doesn't work at Active English</b>
        </div>

        <div class="ejemplo-completo">
            <b class="text-add">¿Juega usted futbol?</b>
            <b class="text-add">Do you play soccer?</b>
            <b class="text-add">Yes, I do</b>
            <b class="text-add">Yes, i play soccer</b>
            <b class="text-add">No, i don't</b>
            <b class="text-add">No, i don't play soccer</b>
        </div>

        <div class="ejemplo-completo">
            <b class="text-add">¿Comen ellos pizza?</b>
            <b class="text-add">Do they eat pizza?</b>
            <b class="text-add">Yes, they do</b>
            <b class="text-add">Yes, they eat pizza</b>
            <b class="text-add">No, they don't</b>
            <b class="text-add">No, they don't eat pizza</b>
        </div>

    </div>

</div>