<main class="sub-menu">
    
    <h3 class="titulo-clase">Clase Tenses</h3>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="present-simple" class="sub-enlace">Simple Present</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="past-simple" class="sub-enlace">Simple Past</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="future-simple" class="sub-enlace">Simple Future</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="present-perfect" class="sub-enlace">Perfect Present</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="past-perfect" class="sub-enlace">Perfect Past</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="present-continuous" class="sub-enlace">Present Continuous</a>
    </div>

    <div class="tarjeta-tipo-tiempo">
        <a routerLink="present-perfect-continuous" class="sub-enlace">Present Perfect Continuous</a>
    </div>

</main>