.main-section{
    margin-top: 70px;
    padding: 20px 0;
    height: calc(100vh - 90px);
    width: 100%;
}

.title-exp{
    display: block;
    height: 223x;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    background-color: #555;
}

.parrafo-exp{
    text-align: justify;
    padding: 20px 40px;
}

.table-exp{
    margin: 10px auto;
    background-color: rgb(10, 10, 9);
    text-shadow: 1px 1px 1px;
    border-radius: 20px;
}

.cabecera{
    background-color: rgb(43, 43, 34);   
    padding: 7px;
}

.cabecera th{
    padding: 10px ;
}

.body-table{
    background-color: rgb(34, 51, 53);
    padding: 7px;
}

.body-table td{
    padding: 10px;
}