<!-- <nav [class]="valorBarraNavegacion">

    @if(menu){

        <div class="content-menu">

            <a routerLink="aporteCorreo" class="direccion" (click)="muestraMenu()">Ir a ingresar correo</a>
            <a routerLink="claseTenses" class="direccion" (click)="muestraMenu()">Clase 'Teses'</a>
            <a routerLink="explicaionTenses" class="direccion" (click)="muestraMenu()">Teses Explication</a>
            <a routerLink="" class="direccion" (click)="muestraMenu()">Otra opcion</a>

        </div>
        
    }

    <button class="button-menu" (click)="muestraMenu()">Menu</button>

</nav> -->

<div class="cont-welcom">

    <div class="cont-saludo">
        <h1 class="saludo">Welcome</h1>
    </div>

    <div class="div_logoMain">
        <img src="LogoNotEnglish.png" alt="" class="logoMain">
    </div>

    <div class="cont-sub-saludo">
        <h3 class="sub-saludo">Notas Ingles</h3>
    </div>

    <div class="cont-boton-iniciar">
        <a routerLink="../menuOpciones" class="anchor-inicia">Start</a>
    </div>

</div>