<div class="contentMain">

    <nav class="barra-navegacion text-sombra">

        <a routerLink="/pageMain">

            <div class="divLogo">
                <img src="LogoNotEnglish.png" alt="Logo" class="logo_LearnEnglish">
            </div>

        </a>

        <h1 class="seccion-titulo">Menu principal</h1>

    </nav>

    <a routerLink="../claseTenses" class="link-clase-tenses">Clase Tenses</a>
    <a routerLink="../claseTenses" class="link-clase-tenses">Preposition</a>
    <a routerLink="../claseTenses" class="link-clase-tenses">Comparatives y Superlatives</a>

</div>