:root{
    color-scheme: light dark;
}

body{
    margin: 0;
    background-size: cover;
    background: linear-gradient(#000, #111, #222);
    height: 100vh;
}

*{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    text-shadow: #111111 5px 5px 2px;
}