<h3 class="titulo-clase">Clase Tenses</h3>

<div class="sub-menu div">

    <a href="../claseTenses/#simple" class="sub-enlace">Simple</a>
    <a href="../claseTenses/#progressive" class="sub-enlace">Progressive</a>
    <a href="claseTenses/#simple" class="sub-enlace">Simple</a>
    <a href="claseTenses/#simple" class="sub-enlace">Simple</a>

</div>

<div class="seccion" id="simple">

    <h1 class="seccion-titulo">Simple</h1>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Present</h2>
        <p class="text-es">El juega</p>
        <p class="text-en">He plays</p>
    </div>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Past</h2>
        <p class="text-es">El jugo</p>
        <p class="text-en">He played</p>
    </div>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Future</h2>

        <div class="sub-seccion-future">

            <div>
                <p class="text-es">El jugara</p>
                <p class="text-en">He will play</p>
            </div>

            <div>
                <p class="text-es">El jugara</p>
                <p class="text-en">He will play</p>
            </div>
            
        </div>
        
    </div>

</div>

<div class="seccion" id="progressive">

    <h1 class="seccion-titulo">Progressive Ando Endo</h1>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Present</h2>
        <p class="text-es">El esta jugando</p>
        <p class="text-en">He is playing</p>
    </div>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Past</h2>
        <p class="text-es">El estaba jugando</p>
        <p class="text-en">He was playing</p>
    </div>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Future</h2>
        <p class="text-es">El estara jugando</p>
        <p class="text-en">He will be playing</p>
    </div>

</div>