.sub-menu{
    margin: 80px 0 0 0;
    /* height: calc(100vh - 80px); */

    height: 200px;
    /* display: block; */
    overflow:scroll;
}

.titulo-clase{
    text-align: center;
    background-color: rgba(61, 61, 61, 0.644);
    padding: 15px 0;
}

.sub-enlace{
    display: block;
    margin: 17px 0;
    text-decoration: none;
    font-size: 18px;
    color: bisque;
    text-shadow: #000000 5px 5px;
}

.seccion{
    height: 100vh;
    border-radius: 18px 18px 0 0;
    background: #2b2a2a8a;
    font-weight: 600;
    box-shadow: #111 5px 5px 10px;
}

.seccion-titulo{
    height: 10%;
    box-shadow: #111 5px 5px 10px;
    border-radius: 18px 18px 0 0;
    text-align: center;
    padding-top: 13px;
    background: rgba(145, 2, 2, 0.829);
    font-size: 28px;
}

.div{
    height: 30%;
    padding: 40px 40px 10px 40px;
}



.div p{
    margin-top: 8px;
}

.seccion-sub-titulo{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

.sub-seccion-future{
    display: flex;
    justify-content: space-between;
}

.text-es{
    color: brown;
}

.text-en{
    color: rgb(0, 75, 161);
}