.titulo-clase{
    text-align: center;
    background-color: rgba(61, 61, 61, 0.644);
    padding: 15px 0;
}

.div{
    height: 130px;
    padding: 10px 20px;
}

.sub-menu{

    height: 200px;

}

.sub-enlace{
    display: block;
    margin: 17px 0;
    text-decoration: none;
    font-size: 18px;
    color: bisque;
    text-shadow: #000000 5px 5px;
}

.seccion{
    border-radius: 18px 18px 0 0;
    background: #2b2a2a8a;
    font-weight: 600;
    box-shadow: #111 5px 5px 10px;
    margin-top: 10px;
}

.seccion-titulo{
    box-shadow: #111 5px 5px 10px;
    border-radius: 18px 18px 0 0;
    margin: 0;
    text-align: center;
    background: rgba(145, 2, 2, 0.829);
    padding: 7px;
    font-size: 28px;
}

.sub-seccion-future{
    display: flex;
    justify-content: space-between;
}

.seccion-sub-titulo{
    text-align: center;
    margin: 0;
}

.text-es{
    color: brown;
}

.text-en{
    color: rgb(0, 75, 161);
}