<h3 class="titulo-clase">Clase Tenses</h3>

<div class="sub-menu div">

    <a href="" class="sub-enlace">Simple</a>
    <a href="" class="sub-enlace">Progressive</a>
    <a href="" class="sub-enlace">Simple</a>
    <a href="" class="sub-enlace">Simple</a>

</div>

<div class="seccion simple">

    <h1 class="seccion-titulo">Simple</h1>

    <div class="sub-seccion-present div">
        <h2 class="seccion-sub-titulo">Present</h2>
        <p class="text-es">El juega</p>
        <p class="text-en">He plays</p>
    </div>

</div>